:root {
    --color-content-background: hsl(60, 80%, 86%);
    --color-todo-card-background: hsl(60, 80%, 82%);
    --color-todo-card-details-background: hsl(60, 80%, 86%);
    --color-todo-card-border: hsl(60, 18%, 77%);
    --color-todo-card-done: hsl(60, 30%, 30%);
    --color-todo-card-done-background: hsl(60, 30%, 80%);
    --color-active-project: #55ff44;
    --color-priority-high: red;
    --color-priority-normal: #55EE44;
    --color-priority-low: #eedd00;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site__header {
    display: flex;    
    justify-content: center;
    font-size: 2em;
    color:whitesmoke;
    background-image: url('./assets/hero.png');
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: 1200px;
    background-attachment: fixed;
    height: 160px;
    /* background-image: linear-gradient(skyblue, azure); */
}

.site__content {
    display: flex;
    margin: auto;
    background: var(--color-content-background);
    min-height: 300px;
    max-width: 1200px;
}

.site__sidebar {
    padding: 10px;
    border: solid 1px rgb(90, 90, 90);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.site__sidebar ul {
    font-weight: normal;
    list-style-type: none;
    padding: 0 5px 0 5px;
    text-align: right;
}

.site__sidebar li {
    padding: 10px 15px;
    border-radius: 6px;
    width: auto;
}

.site__sidebar .active {
    background-color: var(--color-active-project);
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list .controls {
    display: flex;
    margin-bottom: 25px;
}

.todo-list .add-item {
    color: rgb(42, 64, 64);
    margin: 10px;
}

.todo-list .expand-all {
    color: rgb(42, 64, 64);
    margin: 10px 10px 10px auto;
}

.todo-list .collapse-all {
    color: rgb(42, 64, 64);
    margin: 10px;    
}

.todo-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-todo-card-background);
    border-radius: 6px;
    border: 1px solid var(--color-todo-card-border);
    margin: 5px;
}

.todo-card__basic {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1rem;
}

.todo-card__expanded {
    display: flex;
    align-items: center;
    background-color: var(--color-todo-card-details-background);
    margin: 10px 3ch 5px 3ch;
    padding: 5px;
    font-size: 1rem;
    border-radius: 6px;
}

div.detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

div.detail-container > .fa-solid {
    width: 30px;
    text-align: center;
    color: rgb(42, 64, 64);
}

.todo-card input {
    width: 3ch;
    height: 3ch;
}

.todo-card label {
    padding-left: 10px;
}

.todo-card .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2ch;
    height: 2ch;
    border-radius: 3px;
    background-color: var(--color-priority-normal);
}

.todo-card .priority-high {
    background-color: var(--color-priority-high);
}

.todo-card .priority-low {
    background-color: var(--color-priority-low);
}

.todo-card .expander {
    margin-left: auto;
    color: #00000099;
}

.todo-done {
    background-color: var(--color-todo-card-done-background);
    color: var(--color-todo-card-done);
}

.todo-done label {
    text-decoration: line-through;
}

.site__page {
    margin: 0;
    padding: 20px;
    border: solid 1px black;
    width: 100%;
}

.site__footer {
    display: flex;    
    margin: auto;
    justify-content: center;
    align-items: center;
    background: hsl(184, 9%, 75%);
    max-width: 1200px;
}

.footer__inner {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.site__footer a {
    text-decoration: none;
}

.site__footer i {
    color: rgb(42, 64, 64);
    margin-left: 20px;
}