:root {
    --color-content-background: hsl(60, 100%, 96%);
    --color-todo-card-background: hsl(60, 100%, 92%);
    --color-todo-card-hover-background: hsl(46, 100%, 82%);
    --color-todo-card-details-background: hsl(60, 100%, 95%);
    --color-todo-card-border: hsl(49, 18%, 77%);
    --color-todo-card-done: hsl(100%, 30%, 30%);
    --color-todo-card-done-background: hsl(0, 0%, 86%);
    --color-todo-card-checkbox-background: #009900;
    --color-input-focussed-background: rgb(211, 237, 253);
    --color-active-project: #ffbf7b;
    --color-priority-high: red;
    --color-priority-normal: #55EE44;
    --color-priority-low: #eedd00;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    --size-icon: 2.5ch;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(184, 9%, 75%);
}

.site__content * {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.site__header {
    display: flex;    
    justify-content: center;
    font-size: 2em;
    color:whitesmoke;
    background-image: url('./assets/hero.png');
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: 1200px;
    background-attachment: fixed;
    height: 160px;
}

.site__content {
    display: flex;
    margin: auto;
    background: var(--color-content-background);
    min-height: 300px;
    max-width: 1200px;
}

.site__sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: solid 1px var(--color-todo-card-border);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    min-width: 250px;
    max-width: 250px;
}

.site__sidebar .projects-container {
    font-size: 1rem;
    padding: 25px 5px 30px 5px;
    margin: 20px 0;
    background-color: var(--color-todo-card-background);
    border: solid 1px var(--color-todo-card-border);
    border-radius: 6px;
    align-items: flex-end;

}

.site__sidebar .project-container {
    display: flex;
    padding: 10px 25px;
    border-radius: 6px;
    align-items: right;
    justify-content: right;
    text-align: right;
}

.site__sidebar .edit-project {
    margin-right: 15px;
}

.site__sidebar .delete-project {
    margin-right: 5px;
}

.projects-container input[type=text] {
    size: 30;
    font-size: 1rem;
    text-align: right;
    background-color: var(--color-input-focussed-background);
    width: 100%;
    height: 100%;
    border: 0;
}

.site__sidebar .project-container.active {
    background-color: var(--color-active-project);
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list .controls {
    display: flex;
    margin-bottom: 10px;
    position: sticky;
}

div.controls {
    padding: 15px 0;
    border-radius: 6px;
}

.todo-list .add-item {
    color: rgb(42, 64, 64);
    margin: 10px;
}

.todo-list .expand-all {
    color: rgb(42, 64, 64);
    margin: 10px;    
}

.todo-list .collapse-all {
    color: rgb(42, 64, 64);
    margin: 10px 10px 10px auto;
}

.todo-card input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 4rem;
    border-radius: 2rem;
    height: 0.5rem;
}

.todo-card input.priority-high {
    background-color: var(--color-priority-high);
}

.todo-card input.priority-normal {
    background-color: var(--color-priority-normal);
}

.todo-card input.priority-low {
    background-color: var(--color-priority-low);
}

.todo-card input[type=text] {
    background-color: inherit;
    border-radius: 3px;
    border: none;
    transition: 0.2s;
    size: 10;
}

.todo-card input[type=text]:focus {
    background-color: var(--color-input-focussed-background);
    /* color: white; */
    outline: none;
    size: 5;
}

.todo-card input[type=text]:focus::placeholder {
    color: gray;
}

.todo-card input[type=date] {
    background-color: inherit;
    border: none;
}

.todo-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-todo-card-background);
    border-radius: 6px;
    /* border: 1px solid var(--color-todo-card-border); */
    margin: 6px;
    box-shadow: 0px 0px 4px #00000033;
}

.show-on-hover
{
    display: block;
    opacity: 0;
    transition: 0.3s;
}

.todo-card:hover .show-on-hover,
.project-container:hover .show-on-hover {
    opacity: 0.333;
}

.project-container .show-on-hover:hover,
.todo-card .show-on-hover:hover {
    opacity: 1;
}

.todo-card__basic {
    display: flex;
    padding: 5px;
    align-items: center;
}

.todo-card__basic input[type=text] {
    padding-left: 10px;
    flex-grow: 1;
    font-size: inherit;
    justify-content: center;
    align-items: center;
}

div.todo-card__expanded {
    display: flex;
    flex-direction: column;
    margin: 10px 3ch 5px 3ch;
    padding: 5px;
    border-radius: 6px;
}

.todo-card__expanded {
    background-color: var(--color-todo-card-details-background);
}

.todo-card:hover {
    background-color: var(--color-todo-card-hover-background);
}

.todo-card.todo-done,
.todo-card__expanded.todo-done {
    background-color: var(--color-todo-card-done-background);
}

div.detail-container {
    display: flex;
    margin-top: 10px;
    font-size: 0.8rem;
}

div.detail-container input[type=text] {
    flex-grow: 1;
}

div.detail-container:first-child {
    margin-top: 0;
}

div.detail-container > .fa-solid {
    width: 4ch;
    text-align: center;
    color: rgb(42, 64, 64);
}

.checkbox input {
    width: 2.2ch;
    height: 2.2ch;
    accent-color: var(--color-todo-card-checkbox-background);
    outline: none;
}

.todo-card .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.5ch;
    min-height: 2.5ch;
    border-radius: 3px;
    background-color: var(--color-priority-normal);
}

.todo-card .priority-high {
    background-color: var(--color-priority-high);
}

.todo-card .priority-low {
    background-color: var(--color-priority-low);
}

.todo-card .delete-item,
.delete-project {
    padding: 0 6px 0 6px;
    color: red;
}

.todo-card .expander {
    padding: 0 0 0 6px;
}

.todo-done .title {
    text-decoration: line-through;
}

.site__page {
    margin: 0;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    /* height: calc(100vh - 160px - 40px - 36px); */
    height: calc(100vh - 160px - 40px - 16px);
}

.site__footer {
    display: flex;    
    margin: auto;
    justify-content: center;
    align-items: center;
    background: hsl(184, 9%, 75%);
    max-width: 1200px;
}

.footer__inner {
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.site__footer a {
    text-decoration: none;
}

.site__footer i {
    color: rgb(42, 64, 64);
    margin-left: 20px;
}